header {
    text-align: center;
    padding: 50px;
    background: #f4f4f4;
}

main {
    text-align: center;
    padding: 20px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    display: block;
    margin-top: 5px;
}
